@model NoteMarketPlace.Models.AdminProfileModel
@{
    ViewBag.Title = "Note - My Profile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- My Profile Form -->
<section id="myprofile">
    <div class="content-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="title">
                        <p>My Profile</p>
                    </div>

                    <p class="text-danger">@ViewBag.Error</p>
                    <div class="form-div">
                        @using (Html.BeginForm("Index", "AdminUpdateProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label for="firstname">First Name *</label>
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", id = "firstname", placeholder = "Enter Your First Name", type = "text", required = "required" })
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>

                            <div class="form-group">
                                <label for="lastname">Last Name *</label>
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", id = "lastname", placeholder = "Enter Your last Name", type = "text", required = "required" })
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>

                            <div class="form-group">
                                <label for="email">Email *</label>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id = "email", disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>

                            <div class="form-group">
                                <label for="semail">Secondary Email</label>
                                @Html.TextBoxFor(model => model.SecondEmail, new { @class = "form-control", id = "semail", placeholder = "Enter Your Second Email", type = "email"})
                                @Html.ValidationMessageFor(model => model.SecondEmail)
                            </div>

                            <div class="form-group">
                                <label for="phone">Phone No *</label><br>
                                <div class="phone-number form-group">
                                    @Html.DropDownListFor(model => model.PhoneCode, new SelectList(Model.CountryList, "ID", "CountryCode", Model.PhoneCode), "Country Code", new { @class = "form-control", required = "required" })
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", id = "phone", placeholder = "Enter Your Phone", type = "text", required = "required" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Phone)
                                @Html.ValidationMessageFor(model => model.PhoneCode)
                            </div>

                            <div class="form-group">
                                <label for="upload-notes">Profile Picture</label>
                                <div class="upload-box">
                                    @Html.TextBoxFor(model => model.ProfilePicture, new { @class = "form-control-file upload", id = "profile-pic-profile", type = "file" })
                                </div>
                                @Html.ValidationMessageFor(model => model.ProfilePicture)
                            </div>

                            <div id="btn-purple">
                                <button type="submit" value="Submit" class="btn">SUBMIT</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

