@model IEnumerable<NoteMarketPlace.Models.SellerNote>
@{
    ViewBag.Title = "Note - Search Note";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Head -->
<section id="head">
    <div id="page-head-content">
        <div class="page-text">
            <p>Search Notes</p>
        </div>
    </div>
</section>


<!-- Search and Filter -->
<section id="search-filter">
    <div class="content-box">
        <div class="container">
            <!-- Heading -->
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <p>Search and Filter Notes</p>
                    </div>
                </div>
            </div>

            <div class="input-boxes">
                <!-- Search -->
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input type="text" class="form-control" placeholder="Search notes here...">
                        </div>

                    </div>
                </div>
                <!-- Filter -->
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-sm-6 fil-item">
                        <select class="selectpicker">
                            <option class="muted">Select Type</option>
                            <option value="">Mustard</option>
                            <option value="">Ketchup</option>
                            <option value="">Relish</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 fil-item">
                        <select class="selectpicker">
                            <option class="muted">Select Category</option>
                            <option value="">Mustard</option>
                            <option value="">Ketchup</option>
                            <option value="">Relish</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 fil-item">
                        <select class="selectpicker">
                            <option class="muted">Select University</option>
                            <option value="">Mustard</option>
                            <option value="">Ketchup</option>
                            <option value="">Relish</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 fil-item">
                        <select class="selectpicker">
                            <option class="muted">Select Course</option>
                            <option value="">Mustard</option>
                            <option value="">Ketchup</option>
                            <option value="">Relish</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 fil-item">
                        <select class="selectpicker">
                            <option class="muted">Select Country</option>
                            <option value="">Mustard</option>
                            <option value="">Ketchup</option>
                            <option value="">Relish</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 fil-item">
                        <select class="selectpicker">
                            <option class="muted">Select Rating</option>
                            <option value="">Mustard</option>
                            <option value="">Ketchup</option>
                            <option value="">Relish</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Notes -->
<section id="notes">
    <div class="container">
        <!-- Heading -->
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <p>Totle 18 Notes</p>
                </div>
            </div>
        </div>

        <!-- Note Detail -->
        <div class="card-deck">
            <div class="row">

                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6">
                        <a class="card card-item" href="@Url.Action("NoteDetail","SearchNote", new { id = item.ID})">
                            <img class="card-img-top" src="@Url.Content(item.DisplayPicture)" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@item.Title</h5>
                            </div>
                            <div class="card-footer">
                                <p><i class="fa fa-university"></i>@item.UniversityName</p>
                                <p><i class="fa fa-book"></i>@item.NumberofPages Pages</p>
                                <p><i class="fa fa-calendar"></i>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.ModifiedDate))</p>
                                <p><i class="fa fa-flag-o"></i><span>5 Users marked this note as inappropriate</span></p>
                                <!-- Note Rating -->
                                <div class="rate">
                                    <!-- <span class="fa fa-star-half-o "></span> -->
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <p>100 reviews</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>



<!-- Pagination -->
<section id="paginations">
    <div class="content-box">
        <ul class="pagination justify-content-center align-items-center">

            <li class="page-item"><a class="page-link" href="#">&lt;</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">1<span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">&gt;</a></li>

        </ul>
    </div>
</section>





