@model IEnumerable<NoteMarketPlace.Models.Download>
@{
    ViewBag.Title = "Note - My Downloads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- My Downloads -->
<section id="mydownload">
    <div class="content-box">
        <div class="container">


            <div class="heading">
                <div class="row">
                    <!-- Heading -->
                    <div class="col-lg-8 col-md-7 col-sm-6">
                        <div class="title">
                            <p>My Downloads</p>
                        </div>
                    </div>
                    <!-- Search -->
                    <div class="col-lg-4 col-md-5 col-sm-6 text-right">
                        <div class="search-in-tab">
                            @using (Html.BeginForm("Index", "MyDownload", FormMethod.Get))
                            {
                                <div class="form-group has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input type="text" name="search" class="form-control" placeholder="Search">
                                </div>
                                <div id="btn-purple">
                                    <button type="submit" class="btn">Search</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>



            <!-- Table -->
            <div class="table-content table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">SR NO.</th>
                            <th scope="col">@Html.ActionLink("NOTE TITLE", "Index", new { sortOrder = ViewBag.TitleSortParm, search = Request.QueryString["search"], mdpage = Request.QueryString["mdpage"] })</th>
                            <th scope="col">@Html.ActionLink("CATEGORY", "Index", new { sortOrder = ViewBag.CategorySortParm, search = Request.QueryString["search"], mdpage = Request.QueryString["mdpage"] })</th>
                            <th scope="col">BUYER</th>
                            <th scope="col">@Html.ActionLink("SELL TYPE", "Index", new { sortOrder = ViewBag.SellTypeSortParm, search = Request.QueryString["search"], mdpage = Request.QueryString["mdpage"] })</th>
                            <th scope="col">@Html.ActionLink("PRICE", "Index", new { sortOrder = ViewBag.PriceSortParm, search = Request.QueryString["search"], mdpage = Request.QueryString["mdpage"] })</th>
                            <th scope="col">@Html.ActionLink("DOWNLOADED DATE/TIME", "Index", new { sortOrder = ViewBag.DateSortParm, search = Request.QueryString["search"], mdpage = Request.QueryString["mdpage"] })</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            int no = (ViewBag.srno - 1) * 10 + 1;
                        }
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="8" class="text-center">No Record Found</td>
                            </tr>
                        }

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@no</td>
                                <td><span>@item.NoteTitle</span></td>
                                <td>@item.NoteCategory</td>
                                <td>@ViewBag.Email</td>
                                @if (item.IsPaid)
                                {
                                    <td>Paid</td>
                                    <td>$@item.PurchasedPrice</td>
                                }
                                else
                                {
                                    <td>Free</td>
                                    <td>$0</td>
                                }


                                <td>@item.AttachmentDownloadedDate</td>
                                <td>
                                    <!-- Dropdown -->
                                    <div class="dropdown dropleft table-img">
                                        <a href="@Url.Action("NoteDetail", "SearchNote", new { id = item.NoteID})"><img src="~/images/Dashboard/eye.png" alt="eye"></a>
                                        <img src="~/images/Dashboard/3dot.png" alt="3dot-menu" data-toggle="dropdown">

                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="@Url.Action("DownloadNote", "SearchNote", new { noteId = item.NoteID})">Download Note</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter-@item.ID">Add Review/Feedback</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter1-@item.ID">Report as Inappropriate</a>
                                        </div>
                                    </div>
                                    <!-- Add Review/Feedback modal -->
                                    <div class="modal fade" id="exampleModalCenter-@item.ID" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                @using (Html.BeginForm("AddReview", "MyDownload", new { id = item.ID }, FormMethod.Post, new { }))
                                                {
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                                            Add Review
                                                        </h5>
                                                        <img src="~/images/NotesDetails/close.png" data-dismiss="modal"
                                                             alt="">
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="feed-rate">
                                                            <input type="radio" id="star5-@item.ID" name="rate" value="5" />
                                                            <label for="star5-@item.ID" title="text">5 stars</label>
                                                            <input type="radio" id="star4-@item.ID" name="rate" value="4" />
                                                            <label for="star4-@item.ID" title="text">4 stars</label>
                                                            <input type="radio" id="star3-@item.ID" name="rate" value="3" />
                                                            <label for="star3-@item.ID" title="text">3 stars</label>
                                                            <input type="radio" id="star2-@item.ID" name="rate" value="2" />
                                                            <label for="star2-@item.ID" title="text">2 stars</label>
                                                            <input type="radio" id="star1-@item.ID" name="rate" value="1" />
                                                            <label for="star1-@item.ID" title="text">1 star</label>
                                                        </div>
                                                        <br><br><br>
                                                        <div class="comments">
                                                            <p>Comments *</p>
                                                            <textarea name="cmt" class="form-control" placeholder="Comments..." required></textarea>
                                                        </div>
                                                    </div>
                                                    <div id="btn-purple" class="modal-footer">
                                                        <button type="submit" class="btn btn-purples">Submit</button>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Report as Inappropriate modal -->
                                    <div class="modal fade" id="exampleModalCenter1-@item.ID" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                @using (Html.BeginForm("Spam", "MyDownload", new { id = item.ID }, FormMethod.Post, new { }))
                                                {
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                                            Report as Inappropriate
                                                        </h5>
                                                        <img src="~/images/NotesDetails/close.png" data-dismiss="modal"
                                                             alt="">
                                                    </div>
                                                    <div class="modal-body">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                                            @item.NoteTitle
                                                        </h5>
                                                        <br />
                                                        <div class="form-group">
                                                            <label for="Remark-@item.ID">Remarks *</label>
                                                            <input type="text" class="form-control" name="Remark" id="Remark-@item.ID"
                                                                   placeholder="Enter your Remark" required>
                                                        </div>
                                                    </div>
                                                    <div id="btn-purple" class="modal-footer">
                                                        <button type="submit" onclick="return confirm('Are you sure you want to mark this report as spam, you cannot update it later?')" class="btn btn-purples">Submit</button>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            no++;
                        }

                    </tbody>
                </table>
            </div>
        </div>


        <!-- Pagination -->
        <div class="row justify-content-center">

            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item">
                        @if (ViewBag.PageNumber == 1)
                        {
                            <a class="page-link" href="@Url.Action("Index", new { mdpage = @ViewBag.PageNumber, search = Request.QueryString["search"], sortOrder = Request.QueryString["sortOrder"] })"><i class="fa fa-angle-left"></i></a>
                        }
                        else
                        {
                            <a class="page-link" href="@Url.Action("Index", new { mdpage = @ViewBag.PageNumber - 1, search = Request.QueryString["search"], sortOrder = Request.QueryString["sortOrder"] })"><i class="fa fa-angle-left"></i></a>
                        }
                    </li>

                    @{
                        double TotalPagesMyDownload = ViewBag.TotalMyDownloadPage;
                        for (int i = 1; i <= TotalPagesMyDownload; i++)
                        {
                            if (i == ViewBag.PageNumber)
                            {
                                <li class="page-item active">
                                    <a class="page-link" href="#">@i<span class="sr-only">(current)</span></a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">@Html.ActionLink(i.ToString(), "Index", new { mdpage = i, search = Request.QueryString["search"], sortOrder = Request.QueryString["sortOrder"] }, new { @class = "page-link" })</li>
                            }
                        }
                    }

                    <li class="page-item">
                        @if (ViewBag.PageNumber == TotalPagesMyDownload)
                        {
                            <a class="page-link" href="@Url.Action("Index", new { mdpage = @ViewBag.PageNumber, search = Request.QueryString["search"], sortOrder = Request.QueryString["sortOrder"]  })"><i class="fa fa-angle-right"></i></a>
                        }
                        else
                        {
                            <a class="page-link" href="@Url.Action("Index", new {  mdpage = @ViewBag.PageNumber + 1, search = Request.QueryString["search"], sortOrder = Request.QueryString["sortOrder"] })"><i class="fa fa-angle-right"></i></a>
                        }
                    </li>
                </ul>
            </nav>
        </div>

    </div>


</section>
