@model IEnumerable<NoteMarketPlace.Models.Download>

@{
    ViewBag.Title = "Note - AdminDownloadedNote";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Downloaded Note -->
<section id="downloadednote">
    <div class="content-box-top">
        <div class="container">
            <div class="title">
                <p>Downloaded Notes</p>
            </div>


            @using (@Html.BeginForm("Index", "AdminDownloadedNote", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="row select-filter">
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group ">
                                    <label>Note</label>
                                    @Html.DropDownList("note", new SelectList(@ViewBag.Note), "Select Note", new { @class = "form-control", id = "note" })
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group ">
                                    <label>Seller</label>
                                    @Html.DropDownList("seller", new SelectList(@ViewBag.Seller), "Select Seller", new { @class = "form-control", id = "seller" })
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group ">
                                    <label>Buyer</label>
                                    @Html.DropDownList("buyer", new SelectList(@ViewBag.Buyer), "Select Buyer", new { @class = "form-control", id = "buyer" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 search-filter">
                        <div class="search-btn">
                            <div class="form-group has-search">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input type="text" name="search" class="form-control" placeholder="Search">
                            </div>
                            <div id="btn-purple">
                                <button type="submit" class="btn">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <!-- Table -->
            <div class="table-content table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>SR NO.</th>
                            <th>@Html.ActionLink("TITLE", "Index", new { sortOrder = ViewBag.TitleSortParm, search = Request.QueryString["search"], seller = Request.QueryString["seller"], adlPage = Request.QueryString["adlPage"], buyer = Request.QueryString["buyer"], note = Request.QueryString["note"], noteId = Request.QueryString["noteId"], Bid = Request.QueryString["Bid"] })</th>
                            <th>@Html.ActionLink("CATEGORY", "Index", new { sortOrder = ViewBag.CategorySortParm, search = Request.QueryString["search"], seller = Request.QueryString["seller"], adlPage = Request.QueryString["adlPage"], buyer = Request.QueryString["buyer"], note = Request.QueryString["note"], noteId = Request.QueryString["noteId"], Bid = Request.QueryString["Bid"] })</th>
                            <th>@Html.ActionLink("BUYER", "Index", new { sortOrder = ViewBag.BuyerSortParm, search = Request.QueryString["search"], seller = Request.QueryString["seller"], adlPage = Request.QueryString["adlPage"], buyer = Request.QueryString["buyer"], note = Request.QueryString["note"], noteId = Request.QueryString["noteId"], Bid = Request.QueryString["Bid"] })</th>
                            <th></th>
                            <th>@Html.ActionLink("SELLER", "Index", new { sortOrder = ViewBag.SellerSortParm, search = Request.QueryString["search"], seller = Request.QueryString["seller"], adlPage = Request.QueryString["adlPage"], buyer = Request.QueryString["buyer"], note = Request.QueryString["note"], noteId = Request.QueryString["noteId"], Bid = Request.QueryString["Bid"] })</th>
                            <th></th>
                            <th>@Html.ActionLink("SELL TYPE", "Index", new { sortOrder = ViewBag.SellTypeSortParm, search = Request.QueryString["search"], seller = Request.QueryString["seller"], adlPage = Request.QueryString["adlPage"], buyer = Request.QueryString["buyer"], note = Request.QueryString["note"], noteId = Request.QueryString["noteId"], Bid = Request.QueryString["Bid"] })</th>
                            <th>@Html.ActionLink("PRICE", "Index", new { sortOrder = ViewBag.PriceSortParm, search = Request.QueryString["search"], seller = Request.QueryString["seller"], adlPage = Request.QueryString["adlPage"], buyer = Request.QueryString["buyer"], note = Request.QueryString["note"], noteId = Request.QueryString["noteId"], Bid = Request.QueryString["Bid"] })</th>
                            <th>@Html.ActionLink("DOWNLOADED DATE/TIME", "Index", new { sortOrder = ViewBag.DateSortParm, search = Request.QueryString["search"], seller = Request.QueryString["seller"], adlPage = Request.QueryString["adlPage"], buyer = Request.QueryString["buyer"], note = Request.QueryString["note"], noteId = Request.QueryString["noteId"], Bid = Request.QueryString["Bid"] })</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int no = (ViewBag.srno - 1) * 5 + 1;
                        }

                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="11" class="text-center">No Record Found</td>
                            </tr>
                        }

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@no</td>
                                <td><a href="@Url.Action("NoteDetail", "SearchNote", new { id = item.NoteID})"><span>@item.NoteTitle</span></a></td>
                                <td>@item.NoteCategory</td>
                                <td>@item.User.FirstName @item.User.LastName</td>
                                <td><a href="@Url.Action("MemberDetail", "AdminMembers", new { id = item.User.ID})"><img src="./images/Login/eye.png" alt="eye"></a></td>
                                <td>@item.User1.FirstName @item.User1.LastName</td>
                                <td><a href="@Url.Action("MemberDetail", "AdminMembers", new { id = item.User1.ID})"><img src="./images/Login/eye.png" alt="eye"></a></td>
                                @if (item.IsPaid)
                                {
                                    <td>Paid</td>
                                }
                                else
                                {
                                    <td>Free</td>
                                }
                                <td>$@item.PurchasedPrice</td>
                                <td>@item.AttachmentDownloadedDate</td>
                                <td>
                                    <div class="dropdown dropleft table-dot">
                                        <img src="./images/Dashboard/3dot.png" alt="3dot-menu" data-toggle="dropdown">
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="@Url.Action("NoteDetail", "SearchNote", new { id = item.NoteID})">View More Details</a>
                                            <a class="dropdown-item" href="@Url.Action("DownloadNote", "AdminDashboard", new { id = item.NoteID})">Download Notes</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            no++;
                        }
                    </tbody>
                </table>
            </div>

            <!-- Pagination -->
            @if (ViewBag.TotalAdminDLPage != 0)
            {
                <div class="row justify-content-center">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item">
                                @if (ViewBag.currentPage == 1)
                                {
                                    <a class="page-link" href="@Url.Action("Index", new { adlPage = @ViewBag.currentPage, sortOrder = Request.QueryString["sortOrder"], search = Request.QueryString["search"], seller = Request.QueryString["seller"], buyer = Request.QueryString["buyer"], note = Request.QueryString["note"], noteId = Request.QueryString["noteId"], Bid = Request.QueryString["Bid"] })"><i class="fa fa-angle-left"></i></a>
                                }
                                else
                                {
                                    <a class="page-link" href="@Url.Action("Index", new { adlPage = @ViewBag.currentPage - 1, sortOrder = Request.QueryString["sortOrder"], search = Request.QueryString["search"], seller = Request.QueryString["seller"], buyer = Request.QueryString["buyer"], note = Request.QueryString["note"], noteId = Request.QueryString["noteId"], Bid = Request.QueryString["Bid"] })"><i class="fa fa-angle-left"></i></a>
                                }
                            </li>
                            @{
                                for (int i = ViewBag.startPage; i <= ViewBag.endPage; i++)
                                {
                                    if (i == ViewBag.currentPage)
                                    {
                                        <li class="page-item active">
                                            <a class="page-link" href="#">@i<span class="sr-only">(current)</span></a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">@Html.ActionLink(i.ToString(), "Index", new { adlPage = i, sortOrder = Request.QueryString["sortOrder"], search = Request.QueryString["search"], seller = Request.QueryString["seller"], buyer = Request.QueryString["buyer"], note = Request.QueryString["note"], noteId = Request.QueryString["noteId"], Bid = Request.QueryString["Bid"] }, new { @class = "page-link" })</li>
                                    }
                                }
                            }
                            <li class="page-item">
                                @if (ViewBag.currentPage == ViewBag.endPage)
                                {
                                    <a class="page-link" href="@Url.Action("Index", new { adlPage = @ViewBag.currentPage, sortOrder = Request.QueryString["sortOrder"], search = Request.QueryString["search"], seller = Request.QueryString["seller"], buyer = Request.QueryString["buyer"], note = Request.QueryString["note"], noteId = Request.QueryString["noteId"], Bid = Request.QueryString["Bid"] })"><i class="fa fa-angle-right"></i></a>
                                }
                                else
                                {
                                    <a class="page-link" href="@Url.Action("Index", new { adlPage = @ViewBag.currentPage + 1, sortOrder = Request.QueryString["sortOrder"], search = Request.QueryString["search"], seller = Request.QueryString["seller"], buyer = Request.QueryString["buyer"], note = Request.QueryString["note"], noteId = Request.QueryString["noteId"], Bid = Request.QueryString["Bid"] })"><i class="fa fa-angle-right"></i></a>
                                }
                            </li>
                        </ul>
                    </nav>
                </div>

            }
        </div>
    </div>
</section>
