@model IEnumerable<NoteMarketPlace.Models.SellerNote>

@using System.Linq;
@using NoteMarketPlace.Models;

@{
    ViewBag.Title = "Note - Admin PublishedNotes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Published Note Table -->
<section id="publishednote">
    <div class="content-box-top">
        <div class="container">
            <div class="title">
                <p>Published Notes</p>
            </div>

            @using (@Html.BeginForm("Index", "AdminPublishedNote", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 select-filter">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-8">
                                <div class="form-group ">
                                    <label for="seller">Seller</label>
                                    @Html.DropDownList("seller", new SelectList(@ViewBag.Seller), "Select Seller", new { @class = "form-control", id = "seller" })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 search-filter">
                        <div class="search-btn">
                            <div class="form-group has-search">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input type="text" name="search" class="form-control" placeholder="Search">
                            </div>
                            <div id="btn-purple">
                                <button type="submit" class="btn">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- Table -->
            <div class="table-content table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>SR NO.</th>
                            <th>@Html.ActionLink("TITLE", "Index", new { sortOrder = ViewBag.TitleSortParm, search = Request.QueryString["search"], seller = Request.QueryString["seller"], apnPage = Request.QueryString["apnPage"], Sid = Request.QueryString["Sid"] })</th>
                            <th>@Html.ActionLink("CATEGORY", "Index", new { sortOrder = ViewBag.CategorySortParm, search = Request.QueryString["search"], seller = Request.QueryString["seller"], apnPage = Request.QueryString["apnPage"], Sid = Request.QueryString["Sid"] })</th>
                            <th>@Html.ActionLink("SELL TYPE", "Index", new { sortOrder = ViewBag.SellTypeSortParm, search = Request.QueryString["search"], seller = Request.QueryString["seller"], apnPage = Request.QueryString["apnPage"], Sid = Request.QueryString["Sid"] })</th>
                            <th>@Html.ActionLink("PRICE", "Index", new { sortOrder = ViewBag.PriceSortParm, search = Request.QueryString["search"], seller = Request.QueryString["seller"], apnPage = Request.QueryString["apnPage"], Sid = Request.QueryString["Sid"] })</th>
                            <th>@Html.ActionLink("SELLER", "Index", new { sortOrder = ViewBag.SellerSortParm, search = Request.QueryString["search"], seller = Request.QueryString["seller"], apnPage = Request.QueryString["apnPage"], Sid = Request.QueryString["Sid"] })</th>
                            <th></th>
                            <th>@Html.ActionLink("PUBLISHED DATE", "Index", new { sortOrder = ViewBag.DateSortParm, search = Request.QueryString["search"], seller = Request.QueryString["seller"], apnPage = Request.QueryString["apnPage"], Sid = Request.QueryString["Sid"] })</th>
                            <th>@Html.ActionLink("APPROVED BY", "Index", new { sortOrder = ViewBag.ApproveBySortParm, search = Request.QueryString["search"], seller = Request.QueryString["seller"], apnPage = Request.QueryString["apnPage"], Sid = Request.QueryString["Sid"] })</th>
                            <th class="text-center">@Html.ActionLink("NO OF DOWNLOAD", "Index", new { sortOrder = ViewBag.NoOfDownloadSortParm, search = Request.QueryString["search"], seller = Request.QueryString["seller"], apnPage = Request.QueryString["apnPage"], Sid = Request.QueryString["Sid"] })</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int no = (ViewBag.srno - 1) * 5 + 1;
                        }
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="11" class="text-center">No Record Found</td>
                            </tr>
                        }

                        @foreach (var item in Model)
                        {

                            int count = 0;
                            using (var db = new NoteMarketPlaceEntities())
                            {
                                count = db.Downloads.Where(x => x.NoteID == item.ID && x.IsSellerHasAllowedDownload == true).Count();
                            }

                            <tr>
                                <td>@no</td>
                                <td><a href="@Url.Action("NoteDetail", "SearchNote", new { id = item.ID})"><span>@item.Title</span></a></td>
                                <td>@item.NoteCategory.Name</td>
                                @if (item.IsPaid)
                                {
                                    <td>Paid</td>
                                }
                                else
                                {
                                    <td>Free</td>
                                }
                                <td>$@item.SellingPrice</td>
                                <td>@item.User1.FirstName @item.User1.LastName</td>
                                <td><a href="@Url.Action("MemberDetail", "AdminMembers", new { id = item.User1.ID})"><img src="./images/Login/eye.png" alt="eye"></a></td>
                                <td>@item.CreatedDate</td>
                                <td>@item.User.FirstName @item.User.LastName</td>
                                <td class="text-center"><a href="@Url.Action("Index", "AdminDownloadedNote", new { noteId = item.ID})"><span>@count</span></a></td>
                                <td>
                                    <div class="dropdown dropleft table-dot">
                                        <img src="./images/Dashboard/3dot.png" alt="3dot-menu" data-toggle="dropdown">
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="@Url.Action("NoteDetail", "SearchNote", new { id = item.ID})">View More Details</a>
                                            <a class="dropdown-item" href="@Url.Action("DownloadNote", "AdminDashboard", new { id = item.ID})">Download Notes</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#unpublishModalCenter-@item.ID">Unpublish</a>
                                        </div>
                                    </div>
                                </td>
                                <div class="modal fade" id="unpublishModalCenter-@item.ID" tabindex="-1" role="dialog"
                                     aria-labelledby="unpublishModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">

                                            @using (Html.BeginForm("UnPublishNote", "AdminPublishedNote", new { id = item.ID }, FormMethod.Post, new { }))
                                            {
                                                <!-- Close Btn -->
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <img src="~/Content/Admin/images/NoteDetail/close.png" alt="">
                                                    </button>
                                                </div>
                                                <!-- Modal Body -->
                                                <div class="modal-body">
                                                    <h4>@item.Title</h4>
                                                    <div class="form-group">
                                                        <label for="remark">Remark *</label>
                                                        <textarea name="Remark" id="remark" cols="52" rows="7" placeholder="Write Remark..." required></textarea>
                                                    </div>
                                                </div>
                                                <!-- Modal Btn -->
                                                <div class="modal-footer">
                                                    <div class="btn-red">
                                                        <button type="submit" onclick="return confirm('Are you sure you want to Unpublish this note?')" class="btn btn-red">Unpublish</button>
                                                    </div>

                                                    <div class="btn-gray">
                                                        <a class="btn" href="#" title="Close" data-dismiss="modal" role="button">Close</a>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            no++;
                        }

                    </tbody>
                </table>
            </div>

            <!-- Pagination -->
            @if (ViewBag.TotalAdminPNPage != 0)
            {
                <div class="row justify-content-center">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item">

                                @if (ViewBag.currentPage == 1)
                                {
                                    <a class="page-link" href="@Url.Action("Index", new { apnPage = @ViewBag.currentPage, sortOrder = Request.QueryString["sortOrder"], search = Request.QueryString["search"], seller = Request.QueryString["seller"], Sid = Request.QueryString["Sid"] })"><i class="fa fa-angle-left"></i></a>
                                }
                                else
                                {
                                    <a class="page-link" href="@Url.Action("Index", new { apnPage = @ViewBag.currentPage - 1, sortOrder = Request.QueryString["sortOrder"], search = Request.QueryString["search"], seller = Request.QueryString["seller"], Sid = Request.QueryString["Sid"] })"><i class="fa fa-angle-left"></i></a>
                                }
                            </li>
                            @{

                                for (int i = ViewBag.startPage; i <= ViewBag.endPage; i++)
                                {
                                    if (i == ViewBag.currentPage)
                                    {
                                        <li class="page-item active">
                                            <a class="page-link" href="#">@i<span class="sr-only">(current)</span></a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">@Html.ActionLink(i.ToString(), "Index", new { apnPage = i, sortOrder = Request.QueryString["sortOrder"], search = Request.QueryString["search"], seller = Request.QueryString["seller"], Sid = Request.QueryString["Sid"] }, new { @class = "page-link" })</li>
                                    }
                                }
                            }
                            <li class="page-item">
                                @if (ViewBag.currentPage == ViewBag.endPage)
                                {
                                    <a class="page-link" href="@Url.Action("Index", new { apnPage = @ViewBag.currentPage, sortOrder = Request.QueryString["sortOrder"], search = Request.QueryString["search"], seller = Request.QueryString["seller"], Sid = Request.QueryString["Sid"] })"><i class="fa fa-angle-right"></i></a>
                                }
                                else
                                {
                                    <a class="page-link" href="@Url.Action("Index", new { apnPage = @ViewBag.currentPage + 1, sortOrder = Request.QueryString["sortOrder"], search = Request.QueryString["search"], seller = Request.QueryString["seller"], Sid = Request.QueryString["Sid"] })"><i class="fa fa-angle-right"></i></a>
                                }
                            </li>
                        </ul>
                    </nav>
                </div>

            }

        </div>
    </div>

</section>

